.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--color-primary) !important;
}

.slick-dots li button:before {
    color: var(--color-white) !important;
    font-size: 10px !important;
    opacity: 1 !important;
}


.slick-dots {
    bottom: 20px !important;
}