html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/************color variables************/
:root {
  --color-primary: #EF262C;
  --color-secondary: #031424;
  --color-danger: #FF4E53;
  --color-white: #ffffff;
  --color-light-white: #ffffffb0;
  --color-gray: #898989;
  --color-sky: #F8FBFF;
  --color-red-light: #FFF2F2;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}